footer{
    margin-top: 10%;
}

.mid{
    margin-bottom: 10%;
    margin-top: 40%;
}

.container{
  
    margin-bottom: 100%;
}


.containerpreg{
  margin-top: 60%;
}

.equipos {
  text-align: center;
  padding: 10%;
}

h2{
  font-size: 4rem;
}